/*Kaushan Script For Header*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/*Alegreya Bold for Name*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&display=swap');
/*Garamond Bold for Description*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');
/*Garamond Light for Contact*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding-bottom: 5000px;
}


/* BAGIAN HEADER */

header{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: white;
  position: fixed;
  padding: 10px 20px;
  transition: all ease-out .9s;
  z-index: 99999;
}

.scrolling-active{
  background-color: #1f253d;
}

.logo img{
  max-height: 40px;
  margin-right: 5px;
}

.title{
  flex-grow: 3;
}

.title p{
  font-family: "Kaushan Script", cursive;
  font-size: 20px;
}

.menu img{
  max-width: 60px;
}

header .fa-times{
  display: none;
}

/* HEADER SELESAI */


/* BAGIAN LANDING PAGE */

.landing-page{
  width: 100%;
  padding: 5%;
  height: 720px;
  background: url(lg.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.item1{
  height: 15px;
  width: 90%;
}

.item1 p{
  font-family: "Kaushan Script", cursive;
  color: white;
  font-style: italic;
  text-decoration: underline;
  font-size: 11px;
}

.item2{
  height: 60px;
  width: 90%;
}

.item2 p{
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 36px;
  color: white;
}

.item3{
  height: 180px;
  width: 90%;
}

.item3 p{
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.45;
  color: white;
}

.item4{
  height: 90px;
  width: 32%;
  align-self: flex-end;
  color: white;
}

.item4 p{
  font-family: 'Cormorant Garamond', serif;
  font-size: 9px;
}

.item4 .social-media{
  margin-top: 5px;
}

.item4 .social-media a{
  text-decoration: none;
  color: white;
  margin-right: 2px;
}

.item4 .social-media a i{
  font-size: 20px;
}

/* LANDING PAGE SELESAI */


/* BAGIAN SERVICE */

.service{
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
  padding: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.service-title{
  background-color: teal;
  width: 100%;
  height: 100px;
}

.service-box{
  background-color: cyan;
  width: 100%;
  height: 350px;
  margin-top: 60px;
}